{
  "CN": "{{ common_name }}",
  "key": {
    "algo": "rsa",
    "size": {{ rsa_algo_size }}
  },
  "names": [
    {
      "C": "UK",
      "L": "London",
      "O": "{{ common_name }}",
      "OU": "Kubernetes"
    }
  ]
}
